<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.recognition.mapper.RegionSingleMapper">
    <resultMap id="BaseResultMap" type="com.example.recognition.entity.RegionSingleEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, pid, 'type', 'name', status
    </sql>

    <select id="selectAllForCN" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from region_china
    </select>

    <select id="selectAllForFN" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from region_foreign
    </select>

    <select id="queryToCountry" resultType="java.lang.String">
        select 'name' from region_exception where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>